[submodule "ROS/ublox-F9P"]
	path = ROS/ublox-F9P
	url = https://github.com/goromal/ublox-F9P
[submodule "ROS/realsense-ros"]
	path = ROS/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros1-legacy
[submodule "ROS/vision_opencv"]
	path = ROS/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
	branch = noetic
[submodule "ROS/witmotion_IMU_ros"]
	path = ROS/witmotion_IMU_ros
	url = https://github.com/ElettraSciComp/witmotion_IMU_ros.git
[submodule "ROS/losi_launch"]
	path = ROS/losi_launch
	url = git@github.com:gmu-rtx-ground/losi_launch.git
