<launch>
  <!-- Static Transforms -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="imu_to_base"
      args="0 0 0 0 0 0 base_link imu 100" />
  <node pkg="tf" type="static_transform_publisher" name="gps_to_base"
      args="0 0 0 0 0 0 base_link rover 100" /> -->

  <param name="use_sim_time" value="true" />
  <include file="$(find gps_robot_localization)/launch/static_tf.launch" />
  <node pkg="tf2_ros" type="buffer_server" name="tf2_buffer_server" args="100.0" />

  <!-- EKF Node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam file="$(find gps_robot_localization)/config/ekf_config.yaml" command="load" />
    <remap from="/odometry/filtered" to="/odometry/fused" />
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
    <rosparam file="$(find gps_robot_localization)/config/navsat_config.yaml" command="load" />
    <remap from="/imu/data" to="/losi/witmotion_imu/imu" />
    <remap from="/gps/fix" to="/losi/f9p_rover/fix" />
    <!-- <remap from="/odometry/filtered" to="/odometry/fused" /> -->
    <!-- <remap from="/odometry/gps" to="/gps/odom" /> -->
    <param name="transform_time_offset" value="0.1" />
    <param name="transform_timeout" value="0.1" />
  </node>
</launch>