<launch>
	<!-- Robot state publisher-->
	<include file="$(find losi_launch)/launch/display.launch" />

	<group ns="losi">
	    <!-- witmotion_ros IMU -->
	    <include file="$(find witmotion_ros)/launch/wt901.launch"/>
	    
	    <!-- Ublox GPS -->
	    <include file="$(find ublox_gps)/launch/rover.launch" />

		<!-- XBee GPS receiver -->
		<include file="$(find losi_launch)/launch/xbee_bringup.launch" />
	    
		<!-- GPS-based localization, map initialization, and EKF - ALL IN ONE -->
        <!-- <include file="$(find gps_robot_localization)/launch/merged_gps_localization.launch" /> -->
        
	    <!-- realsense Camera (commented out) -->
	    <!-- include file="$(find realsense2_camera)/launch/rs_camera.launch" / -->
	    
	    <!-- arduino (commented out) -->
	    <include file="$(find losi_launch)/launch/arduino_bringup.launch" />

		<!-- Launch Move Base -->
		<!-- <include file="$(find husky_navigation)/launch/move_base.launch" /> -->
	</group>
</launch>
