<launch>
	<group ns="losi">

	    <!-- witmotion_ros IMU -->
	    <include file="$(find witmotion_ros)/launch/wt901.launch"/>
	    <!--coordinate frame for IMU is set in driver's config yaml-->
	    
		<node pkg="tf2_ros" type="static_transform_publisher" name="imu_base_link" 
              args="0 0 0 0 0 0 base_link imu" />

	    <!-- Ublox GPS -->
	    <include file="$(find ublox_gps)/launch/rover.launch" />
	    
	    <!-- realsense Camera -->
	    <!-- include file="$(find realsense2_camera)/launch/rs_camera.launch" / -->
	    
	    <!-- arduino -->
	    <!-- include file="$(find losi_launch)/launch/arduino_bringup.launch" / -->

		<!-- Launch ekf_localization_node -->
		<include file="$(find gps_robot_localization)/launch/ekf.launch" />

		<!-- Launch robot model -->
		<!-- <include file="(find losi_launch)/launch/display.launch" /> -->

		 <!-- Launch Move Base -->
		<!-- <node pkg="move_base" type="move_base" name="move_base" output="screen"-->
			<!--rosparam file="$(find losi_launch)/config/move_base.yaml" command="load" /-->
			<!-- Remap cmd topics -->
			<!-- <remap from="cmd_vel" to "/cmd_vel1" /> -->
		<!-- </node> -->
	    
	    <!-- node name="dynamic_reconfigure_load_flir_right" pkg="dynamic_reconfigure" type="dynparam" args="load /sensor_suite/right_camera_optical/spinnaker_camera_nodelet/ $(find spinnaker_camera_driver)/params/right_triggered.yaml" / -->

	</group>
</launch>
